body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    box-sizing: content-box;
    font-size: 12px;
    background: grey;
}
h2 {
    text-align: center;
}
:root   {
    --bg-info: #cddeff;
    --text-info: #281b87;
    --bg-success: #cff3da;
    --text-success: #1c6b35;
    --bg-warning: #fcfbc9;
    --text-warning: #826d00;
    --bg-error: #fad3d7;
    --text-error: #8d2841;
    --border-color: #d2d2d2;
}
.cord {
    padding: 4px;
    margin: 5px auto;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 80%;
}
#blueCord   {
    color:var(--text-info);
    background-color: var(--bg-info);
}
#greenCord    {
    color: var(--text-success);
    background-color: var(--bg-success);
}
#yellowCord   {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}
#redCord  {
    color: var(--text-error);
    background-color: var(--bg-error);
}
.cords {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bomb {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.aftermath {
    height: 100%;
    width: 100%;
}
#defuser {
    display: none;
}