body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    box-sizing: content-box;
    font-size: 12px;
    background: grey;
}
h2 {
    text-align: center;
}
:root   {
    --bg-blue: #cddeff;
    --text-blue: #281b87;
    --bg-green: #cff3da;
    --text-green: #1c6b35;
    --bg-yellow: #fcfbc9;
    --text-yellow: #826d00;
    --bg-red: #fad3d7;
    --text-red: #8d2841;
}
.wire {
    padding: 4px;
    margin: 5px auto;
    border-radius: 5px;
    width: 80%;
}
#blueWire   {
    color:var(--text-blue);
    background-color: var(--bg-blue);
    border: 1px solid var(--text-blue);
}
#greenWire    {
    color: var(--text-green);
    background-color: var(--bg-green);
    border: 1px solid var(--text-green);
}
#yellowWire   {
    color: var(--text-yellow);
    background-color: var(--bg-yellow);
    border: 1px solid var(--text-yellow);
}
#redWire  {
    color: var(--text-red);
    background-color: var(--bg-red);
    border: 1px solid var(--text-red);
}
.wires {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bomb {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.aftermath {
    height: 100%;
    width: 100%;
}
#defuser {
    display: none;
}
