html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    background: #c1c1c1;
    height: 4.25em;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul {
    display: flex;
    align-items: flex-start;
}
li  {
    height: 100%;
}
a:hover {
    color: blue;
}
.link {
    margin: 1em;
}
.logo   {
    font-size: 3em;
    font-family: Montsserrat;
    margin: 0 auto;
}
a:link {
    text-decoration: none;
    color: black;
}