.input {
    margin: 1em auto;
}
#main-jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("../img/grocery.jpg");
    background-size: cover;
    background-position: center;
    height: 25vh;
    color: white;
    padding: 0;
}
.main-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    width: 8em;
}