.input {
    margin: 1em auto;
}
#main-jumbotron {
    background-image: url("../img/grocery.jpg");
    background-size: cover;
    background-position: center;
    height: 25vh;
    color: white;
    padding: 0;
}
.main-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}