html, body {
    margin: 0;
    padding: 0;
    background: lightgray;
}

.blue   {
    margin: 0;
    background: #0c2868;
    width: 80px;
    height: 160px;
    float: left;
}

.white  {
    background: white;
    width: 160px;
    height: 80px;
    float: left;
}

.red    {
    background: #bf0a30;
    width: 160px;
    height: 80px;
    float: left
}

.container {
    width: 240px;
    height: 160px;
    margin: 10px auto;
}

img {
    margin-top: calc(100% - 2.25em);
    height: 4em;
}

header {
    margin: 10px auto;
    text-align: center;
}

