.container-top  {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.game-box {
    box-sizing: border-box;
    display: flex;
    width: 308px;
    height: 308px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 20px
}
.squares {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
}
.x-side {
    margin: 20px;
    visibility: hidden;
}
.o-side {
    margin: 20px;
    visibility: hidden;
}
.container-bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 308px;
}