.map-container {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
#card-container {
    margin: 15px auto;
}
.days {
    font-size: 12px;
    height: 275px;
}
.my-navbar {
    color: white;
}
body {
    background: lightgrey;
}